{% extends "base.html" %}
{% block title %}Users List{% endblock %}

{% block content %}


<div class="login-container">
    <div class="login-form">
<table style="border">
    <thead><tr>
        <th>Name</th>
        <th>Description</th>
        <th>Balance</th>

    </tr>
</thead>
    <tbody>
        {% for user in users %}

    <tr><td>{{ user['name'] }} </td><td> {{ user['email'] }}</td><td> {{ user['balance'] }}</td></tr>
    {% endfor %}

    </tbody>
    </table>
</div>
</div>
{% endblock %}